:root {
    --accent-color:#2196F3 ;
    --text-color:#212121;
    --description-color:#757575;
    --main-background-color:#FFF;
    --color-scheme: rgba(255, 255, 255, 0.60);
    --logo-color:#000;
    --footer-bcg:#2F303A;
    --bcgwhite:#F5F4FA;
}

a {
    text-decoration: none;
}

h1,h2,h3,p {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}



img {
    display: block;
}

body {
    font-family:"Roboto" ;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header-logo {
color:var(--logo-color);
font-family: "Raleway";
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}


.header {
    background-color: var(--main-background-color);
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-list {
    display: flex;
    gap: 50px;
}

.box {
    display: flex;
    margin-top: 24px ;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 50px;
    margin-right: 344px;
    margin-left: 93px;
}


.header-lsit {
    display: flex;
}

.logo-color {
    color:var(--accent-color);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.nav-lank {
 color: var(--logo-color);
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}

.nav-lank:hover {
color: var(--accent-color);
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}


.header-link {
    color: var(--description-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.header-link:hover {
color: #2196F3;
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}

.btn-list {
    display: flex;
    margin-bottom: 50px;
    gap: 8px ;
    justify-content: center;
}

.btn-btn:hover {
border-radius: 4px;
background: var(--accent-color);
box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.btn-btn {
    color: var(--logo-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.48px;
padding:6px 22px ;
border-radius: 4px;
border: none;
}

.card {
    padding-top: 94px;
    padding-bottom: 94px;
}

.card-wrap {
    padding: 20px 24px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card-item {
    flex-basis: calc((100% - 60px) / 3);
    border: 1px solid #EEE;
}

.card-img {
    width: 100%;
}

.card-title {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 36px; 
    letter-spacing: 1.08px;
    margin-bottom: 4px;
}

.card-desk {
    color:var(--description-color);
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.48px;
}

.footer {
    background-color: var(--footer-bcg);
    padding-top: 60px;
    padding-bottom: 60px;
}



.footer-logo {
    color:var(--main-background-color);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
.footer-color {
    color: var(--accent-color);
font-family: "Raleway";
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.footer-adress {
    margin-top: 20px;
    font-style: normal;
}

.footer-list {
    margin-top: 9px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.adress-link {
    color:var(--main-background-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; 
letter-spacing: 0.42px;
}

.footer-link {
    color: var(--color-scheme);
font-size: 14px;
font-weight: 400;
line-height: 1.71; 
letter-spacing: 0.42px;
}






.footer-tittle {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    }
    
    .footer-spes {
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }
    
    .footer-li {
        padding: 12px;
        background-color: rgba(255, 255, 255, 0.10);
        border-radius: 50%;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    
    .footer-li:hover {
        background-color: var(--accent-color);
    }
    
    .footer-svg {
    width: 20px;
    height: 20px;
    fill: var(--main-background-color);
    }
    