:root {
    --background-color:#FFF;
    --background-color:#2F303A;
    --background-color:#F5F4FA;
    --text-color:#212121;
    --text-color:#2196F3;
    --text-color:#757575;
    --text-color:#FFF;
    --text-color:rgba(255, 255, 255, 0.60);
}
body {

}