:root {
    --accent-color:#2196F3 ;
    --text-color:#212121;
    --description-color:#757575;
    --main-background-color:#FFF;
    --color-scheme: rgba(255, 255, 255, 0.60);
    --logo-color:#000;
    --footer-bcg:#2F303A;
    --bcgwhite:#F5F4FA;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


img {
    display: block;
}

h1,h2,h3,p {
    margin: 0;
    padding: 0;
}
 
.box{
    display: flex;
    align-items: center;
}


body {
    font-family:"Roboto" ;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
}


.header-logo {
    color:var(--logo-color);
font-family: "Raleway";
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
margin-right: 93px;
}

.header {
    background-color: var(--main-background-color);
}

.logo-color {
    color:var(--accent-color);

    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}


.nav-link {
    color:var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px; 
}
.header-number {
    color: var(--description-color);
}

.header-list {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header-link {
    gap: 10px;
    display: flex;
    align-items: center;
}

.header-link:hover {
    .header-contact {
        fill: var(--accent-color);
    }
    .header-cont {
        color: var(--accent-color);
    }
}


.header-contact {
    fill: var(--description-color);
    width: 16px;
    height: 12px;
}

.header-item:nth-child(2) .header-contact {
    width: 10px;
    height: 16px;
}

.header-nav {
    margin-right: auto;
}

.header-cont {
color: var(--description-color);
font-style: 14px;
font-weight: 500;
line-height: 1.14px;
letter-spacing: 0.28px;
}

.header-cont:hover {
    fill: #2196F3;
    
}




.nav-lank:hover {
    color: var(--accent-color);
    }


    .hero {
        padding-top: 200px;
        padding-bottom: 200px;
        text-align: center;
         background-image: linear-gradient( rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../images/fons.jpg.jpg);
         background-repeat: no-repeat;
         background-size: cover;
      }

.hero-title {
    color:var(--main-background-color);
font-size: 44px;
font-weight: 900;
line-height: 1.36; /* 136.364% */
letter-spacing: 2.64px;
text-transform: uppercase;
width: 644px;
margin-bottom: 30px;
margin-left: auto;
margin-right: auto;
}


.hero-btm {
color:var(--main-background-color);
font-size: 16px;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
flex-shrink: 0;
border-radius: 6px;
background: var(--accent-color);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
margin-left: auto;
margin-right: auto;
padding-left: 32px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 32px;
border: none;
}


.advantages {
    padding-top: 94px;
}

.advantages-item::before {
    content:"" ;
    display: block;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--bcgwhite);
    background-image: url(../images/vector.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.advantages-item:nth-child(2)::before {
    background-image: url(../images/clock.png);
}

.advantages-item:nth-child(3)::before {
    background-image: url(../images/diagram.png);
}

.advantages-item:nth-child(4)::before {
background-image: url(../images/astronaut.png);
}

.advantages-list {
    display: flex;
    gap: 30px;
}

.nav-list {
    display: flex;
    gap: 50px;
}

.nav-lank {
    color: var(--logo-color);
}

.advantages-title {
    color:var(--text-color);
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
}

.advantages-desk {
    color:var(--description-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; 
letter-spacing: 0.42px;
margin-top: 10px;
}

.work {
    background-color: var(--main-background-color);
    padding-top: 94px;
    padding-bottom: 92px;
}




.work-position {
background-image: url(../images/bckg.png);
color: #FFF;
text-align: center;
font-size: 14px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
position: absolute;
padding: 27px 107px;
top: 1430px;
}


.work-posit {
background-image: url(../images/bckg.png);
color: #FFF;
text-align: center;
font-size: 14px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
position: absolute;
padding: 27px 113px;
top: 1430px;
}

.work-pos {
background-image: url(../images/bckg.png);
color: #FFF;
text-align: center;
font-size: 14px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
position: absolute;
padding: 27px 95px;
top: 1430px;
}


.work-list {
    display: flex;
    gap: 30px;
}

.work-tittle {
    color: var(--logo-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.team {
    background-color: var(--bcgwhite);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-title {
    color:var(--text-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.team-box {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--main-background-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.team-img {
    width: 270px;
}

.team-caption {
    color: var(--logo-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.48px;
margin-bottom: 10px;
}

.team-desk {
    color: var(--description-color);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.18;
letter-spacing: 0.48px;
}


.team-svg {
    width: 20px;
    height: 20px;
    fill: 
    #AFB1B8;
}



.team-contacts {
    justify-content: center;
    display: flex;
    gap: 10px;
  margin-top: 16px;
}

.team-link:hover {
    background-color: var(--accent-color);
    .team-svg {
        fill: var(--main-background-color);
    }
}

.team-link {
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.ger-tittle {
    color: #212121;
text-align: center;
font-size: 36px;
font-weight: 700;
letter-spacing: 1.08px;
margin-top: 94px;
}


.ger-svg {
width: 106px;
height: 60px;
fill: 
#AFB1B8;
}

.client-link {
    padding: 16px 32px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-link:hover {
    border-color: var(--accent-color);
    .ger-svg {
        fill: var(--accent-color);
    }
}

.ger-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 94px;
    margin-top: 50px;
}



.footer {
    background-color: var(--footer-bcg);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-list {
    margin-top: 9px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer-logo {
    color:var(--main-background-color);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
.footer-color {
    color: var(--accent-color);
font-family: "Raleway";
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.footer-adress {
    margin-top: 20px;
    font-style: normal;
}

.adress-link {
    color:var(--main-background-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}


.footer-link {
    color: var(--color-scheme);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

.footer-box {
    display: flex;
    gap: 70px;
}


.footer-tittle {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    }
    
    .footer-spes {
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }
    
    .footer-li {
        padding: 12px;
        background-color: rgba(255, 255, 255, 0.10);
        border-radius: 50%;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    
    .footer-li:hover {
        background-color: var(--accent-color);
    }
    
    .footer-svg {
    width: 20px;
    height: 20px;
    fill: var(--main-background-color);
    }


.backdrop {
position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
width: 528px;
height: 581px;
border-radius: 4px;
background: #FFF;
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-title {
    margin-top: 40px;
    text-align: center;
}

.modal-label {
color: #757575;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
display: flex;
padding-top: 12px;
padding-left: 40px;
}

.modal-input {
border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
width: 448px;
height: 40px;
position: relative;
top: 20px;
right: 20px;
padding-left: 42px;
}

.modal-svg {
    position: absolute;
    left: 53px;
    top: 108px;
}

.modal-label-two {
    color: #757575;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    display: flex;
    padding-top: 25px;
    padding-left: 40px;
    }

    .modal-input-two {
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.20);
        width: 448px;
        height: 40px;
        position: absolute;
        top: 165px;
        right: 38px;
        padding-left: 40px;
        }

        .modal-svg-two {
            position: absolute;
            left: 53px;
            top: 175px;
        }


        .modal-label-three {
            color: #757575;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.12px;
            display: flex;
            padding-top: 50px;
            padding-left: 40px;
            }
        
            .modal-input-three {
                border-radius: 4px;
                border: 1px solid rgba(33, 33, 33, 0.20);
                width: 448px;
                height: 40px;
                position: absolute;
                top: 230px;
                right: 37px;
                padding-left: 40px;
                }
        
                .modal-svg-three {
                    position: absolute;
                    left: 53px;
                    top: 240px;
                }

                .model-label-fort {
                    color: #757575;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.12px;
                    position: absolute;
                    top: 279px;
                    left: 40px;
                }

                .model-com {
                    border-radius: 4px;
                     border: 1px solid rgba(33, 33, 33, 0.20);
                     width: 448px;
                     height: 120px;
                     position: absolute;
                     left: 5px;
                     top: 28px;
                }