.advantages {
    background-color: $affairs-color;
    padding-top: 60px;
    padding-bottom: 60px;
  
    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 0;
    }

    &__list {
            display: flex;
            gap: 30px;
            @media screen and (min-width: 768px) {
                flex-direction: row;
                flex-wrap: wrap;
              }
          
              @media screen and (min-width: 1200px) {
                flex-wrap: nowrap;
              }
            }
        }
    
        &__item::before {
            content: "";
            border-radius: 4px;
            background: $comand-color;
            background-color: var(--bcgwhite);
            background-image: url(../images/vector.png);
            height: 120px;
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            margin-bottom: 30px;
            @media screen and (min-width: 480px) {
                width: 450px;
              }
          
              @media screen and (min-width: 768px) {
                width: 354px;
              }
          
              @media screen and (min-width: 1200px) {
                width: 270px;
              }
            }

            &:nth-child(2)::before {
                background-image: url(../images/clock.png);
            }
            
            &:nth-child(3)::before {
                background-image: url(../images/diagram.png);
            }
        
            &:nth-child(4)::before {
                background-image: url(../images/astronaut.png);
            }
        
    
    
    
        &__title {
            color: $text-color;
            text-align: center;
            font-size: 14px;
            font-weight: 700;
            line-height: 1.14;
            letter-spacing: 0.42;
            margin-bottom: 10px;
            @media screen and (min-width: 768px) {
                text-align: start;
              }
            }
        
        &__text {
            color: $accent-color;
            @extend %foot;
            width: 100%;

            @media screen and (min-width: 768px) {
            width: 354px;
            }

            @media screen and (min-width: 1200px) {
            width: 270px;
             }
           }


