@media screen and (min-width: 480px) {
}
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}



.footer {
background-color: $background-color;
padding-top: 60px;
padding-bottom: 60px; 

&__box {
display: flex;
flex-direction: column;


@media screen and (min-width: 1200px) {
flex-direction: row;
text-align: start;
align-items: baseline;
}
}

.adapt {
display: flex;
flex-direction: column;
justify-content: center;
align-items: baseline;
gap: 60px;
@media screen and (min-width: 768px) {
flex-direction: row;
gap: 165px;
}

@media screen and (min-width: 1200px) {
justify-content: start;
gap: 93px;
margin-right: auto;
}
}

.drop {
margin-right: auto;
margin-left: auto;
text-align: center;
@media screen and (min-width: 768px) {
margin-left: 0;
margin-right: 0;
}   
@media screen and (min-width: 1200px) {
text-align: start;
margin-left: 0;
margin-right: auto;
}
}

&__logo {
color: $studio-color;
font-family: "Raleway";
font-size: 24px;
font-weight: 700;
line-height: 1.37;
letter-spacing: 0.72px;
@media screen and (min-width: 1200px) {
font-size: 26px;
letter-spacing: 0.78px;
}
}

&__web {
color: $web-color;
@extend %font;
@media screen and (min-width: 1200px) {
font-size: 26px;
letter-spacing: 0.78px;
}
}

&__adress {
font-style: normal;
margin-top: 20px;
}

&__maps {
color: $studio-color;
@extend %foot;
}

&__list {
margin-top: 9px;
}

&__link {
margin-bottom: 9px;

&:last-child {
  margin-bottom: 0px;
}
}

&__item {
color: $data-color;
@extend %foot;
text-align: center;
}

.foot {
margin-right: auto;
margin-left: auto;
text-align: center;
@media screen and (min-width: 768px) {
  margin-right: 0;
  margin-left: 0;
}

@media screen and (min-width: 1200px) {
text-align: start;

}

&__title {
  color: $studio-color;
  @extend %accent;
  margin-bottom: 20px;
}

&__list {
  @include flex-box($b: flex-start, $c: flex-start, $d: flex-start);
  gap: 10px;
  
}

&__item {
  @include flex-box($c: flex-start, $d: flex-start);
  width: 44px;
  height: 44px;
  border-radius: 33px;
  background-color: $foot-color;

  &:hover,
  &:focus {
    outline: $web-color;
    background-color: $web-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .foot__icon {
      animation: move-box 250ms ease; /* Добавлено плавное вращение */
    }
  }
}

@keyframes move-box {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

&__icon {
  fill: $affairs-color;
  width: 20px;
  height: 20px;
}
}

&__form {
display: flex;
flex-direction: column;
margin-top: 60px;
@media screen and (min-width: 480px) {

}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1200px) {
flex-direction: row;
margin-top: 0;
}
}

&__lab {
color: $studio-color;
@extend %accent;
text-align: center;
@media screen and (min-width: 1200px) {
  text-align: start;
}
}

&__inp {
display: block;
width: 100%;
background-color: transparent;
color: $data-color;
font-size: 16px;
font-weight: 400;
line-height: 1.25;
letter-spacing: 0.48px;
padding: 15px 16px;
border-radius: 4px;
border: 1px solid $data-color;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
outline: none;
margin-top: 20px;
margin-right: auto;
margin-left: auto;

@media screen and (min-width: 480px) {
  width: 450px;
}
@media screen and (min-width: 1200px) {
width: 358px;
}
}



&__btn {
@include flex-box($c: flex-start, $d: flex-start);
background-color: $web-color;
color: $studio-color;
@extend %hero;
border-radius: 4px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
height: 50px;
margin-top: 0;
width: 200px;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
@media screen and (min-width: 1200px) {
margin-right: 0;
margin-left: 20px;
margin-top: auto;
}
}

&__icon {
fill: $studio-color;
width: 24px;
height: 24px;
margin-left: 10px;
}
}