.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(/images/fons.jpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
        color: $studio-color;
        font-size: 26px;
        font-weight: 900;
        line-height: 1.61;
        letter-spacing: 1.56px;
        text-transform: uppercase;
        width: 100%;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    
         @media screen and (min-width: 480px) {
          width: 360px;
        }
    
        @media screen and (min-width: 1200px) {
          font-size: 44px;
          line-height: 1.36;
          letter-spacing: 2.64px;
          width: 696px;
        }
      }


&__button {
    color: $studio-color;
    @extend %hero;
    background-color: $web-color;
    padding: 10px 24px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    @media screen and (min-width: 1200px) {
      padding: 10px 32px;
    }
  }
}