.photo {
    background-color: $affairs-color;
    padding-top: 94px;
    padding-bottom: 94px;
    border-top: 1px solid $header-color;
  
    &__leest {
      display: flex;
      gap: 8px;
      justify-content: center;
      margin-bottom: 50px;
    }
  
    &__btn {
      color: $text-color;
      background-color: $comand-color;
      border: 0;
      border-radius: 4px;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.62;
      padding: 6px 22px;
  
      &:hover,
    &:focus {
      background-color: $web-color;
      border: none;
      outline: transparent;
      border-radius: 4px;
      color: $studio-color;
      box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
      transition-property: background-color, color, box-shadow;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0;
    }
  
    }
  
    
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
  
    &__link {
      flex-basis: calc((100% - 60px) / 3);
  
      &:hover,
      &:focus {
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
          0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;
  
        .overlay {
          opacity: 1;
          transition-property: opacity;
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-delay: 0;
        }
      }
    }
  
    &__bax {
      position: relative;
      overflow: hidden;
  
      &:hover .overlay {
        opacity: 1;
        transform: translate(0);
        transition-property: transform;
        transition-duration: 250ms;
        transition-delay: 0;
      }
    }
  
    &__img {
      width: 100%;
    }
  
    &__box {
      border: 1px solid $border-color;
      background-color: $studio-color;
      padding: 20px 24px;
    }
  
    &__title {
      color: $text-color;
      font-size: 18px;
      font-weight: 700;
      line-height: 2;
    }
  
    &__text {
      color: $accent-color;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.87;
      margin-top: 4px;
    }
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 294px;
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transition-property: background-color transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    transform: translatey(370px);
    overflow: hidden;
  }
  
  .over__text {
    color: $studio-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.54px;
    width: 322px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
  }