$background-color: #2f303a;
    $text-color: #212121;
    $foot-color: rgba(255, 255, 255, 0.10);
    $border-color: rgba(0, 0, 0, 0.10);
    $border-color: rgba(238, 238, 238, 1);
    $header-color: #ececec;
    $accent-color: #757575;
    $web-color: #2196f3;
    $studio-color: #fff;
    $affairs-color: #ffffff;
    $data-color: rgba(255, 255, 255, 0.6);
    $comand-color: rgba(245, 244, 250, 1);
    $dateheader-color: rgba(117, 117, 117, 1);
    $studio1-color: #000;
    $svg-color: #AFB1B8;
   